 <div class="jumbotron">
	<div class="container">
		<h1>Hunt toevoegen</h1>
		
		<p>Selecteer het team wat je hebt gehunt.</p>
		<select data-bind="options: teams, optionsCaption: 'Kies een team', value: chosenTeam"></select>

	</div>
</div>

<div class="container" data-bind="visible: chosenTeam">
	<p>Als je browser het ondersteunt, zal deze vragen of hij automatisch je positie door mag geven. Geef hier toestemming voor, zodat je het zelf niet meer hoeft in te vullen. De huidige tijd wordt automatisch toegevoegd aan de hunt.</p>

	<p>
		<ul class="sl">
			<li>Invoer:</li>
			<li>
				<input type="radio" name="inputType" value="latLng" id="inputTypeLatLng" data-bind="checked: inputType"  />
				<label for="inputTypeLatLng">Lat Lng</label>
			</li>
			<li>
				<input type="radio" name="inputType" value="address" id="inputTypeAddress" data-bind="checked: inputType"  />
				<label for="inputTypeAddress">Adres</label>
			</li>
		</ul>
	</p>

	<p data-bind="visible: showLatLng">Gebruik de voorbeeld Lat Lng om aan te geven dat de hunt op de blokhut bent.</p>
	<table style="margin-bottom:20px;" data-bind="visible: showLatLng">
		<tr>
			<td>Lat</td>
			<td><input type="text" data-bind="value: huntLat" /></td>
			<td>(bv. <code>52.00354</code>)</td>
		</tr>
		<tr>
			<td>Lng</td>
			<td><input type="text" data-bind="value: huntLng" /></td>
			<td>(bv. <code>5.948691</code>)</td>
		</tr>
	</table>

	<p data-bind="visible: showAddress"><strong>Let op:</strong> Dit is niet zo precies als met Lat Lng, dus alleen gebruiken wanneer Lat Lng niet mogelijk is.</p>
	<table style="margin-bottom:20px;" data-bind="visible: showAddress">
		<tr>
			<td>Straat (+ evt. huisnr)</td>
			<td><input type="text" data-bind="value: huntStreet" /></td>
		</tr>
		<tr>
			<td>Plaats</td>
			<td><input type="text" data-bind="value: huntCity" /></td>
		</tr>
	</table>

	<p><a class="btn btn-default" href="#" data-bind="click: enterPosition">Hunt doorgeven</a></p>

</div>