<div class="jumbotron">
	<div class="container">
		<h1>Jotihunter v1.4</h1>
		<p>Deze prachtige *kuch* tool is samengesteld door <a href="https://twitter.com/marcofolio" target="_blank">Marco Kuiper</a> voor het gebruik tijdens de Jotihunt 2017. Het gebruik van deze applicatie geschiedt op eigen risico.</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Nieuw spel</h2>
			<p>Start je een nieuw spel? Voer het juiste wachtwoord in, en verwijder de data uit de Jotihunter.</p>
			<p><input type="text" data-bind="value: password" /></p>
			<p><a class="btn btn-default" href="#" data-bind="click: newGame">Start nieuw spel</a></p>
		</div>
	
		<div class="col-md-4">
			<h2>Links</h2>
			<ul>
				<li><a href="http://calc.50x.eu/" target="_blank">Hexadecimal Decimal Binary Octal Converter</a></li>
				<li><a href="https://pixlr.com/editor/" target="_blank">Online Photo Editor</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<h2>Jotihunt</h2>
			<ul>
				<li><a href="http://www.jotihunt.net/" target="_blank">Spelsite</a></li>
				<li><a href="https://twitter.com/jotihunt" target="_blank">Twitter</a></li>
				<li><a href="https://www.facebook.com/jotihunt" target="_blank">Facebook</a></li>
				<li><a href="http://www.jotihunt.nl/" target="_blank">Jotihunt</a></li>
			</ul>

		</div>
	</div>
</div> <!-- /container -->