<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<ul class="sl">
				<li>Toon:</li>
				<li>
					<input id="check_deelnemers" type="checkbox" value="deelnemers" data-bind="checked: displayTypes" /> <label for="check_deelnemers">Deelnemers</label>
				</li>
				<li>
					<input id="check_vossen" type="checkbox" value="vossen" data-bind="checked: displayTypes" /> <label for="check_vossen">Vossen</label>
				</li>
				<li>
					<input id="check_loopgebied" type="checkbox" value="loopgebied" data-bind="checked: displayTypes" /> <label for="check_loopgebied">Loopgebied</label>
				</li>
				<li>
					<input id="check_route" type="checkbox" value="route" data-bind="checked: displayTypes" /> <label for="check_route">Route</label>
				</li>
				<li>
					<input id="check_autos" type="checkbox" value="autos" data-bind="checked: displayTypes" /> <label for="check_autos">Auto's</label>
				</li>
				<li>
					<input id="check_hunts" type="checkbox" value="hunts" data-bind="checked: displayTypes" /> <label for="check_hunts">Hunts</label>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="selectedgroup"></div>
<div id="groepenmap" style="height:100%; width:100%;"></div>